<div data-role="header">
	<h1>Post a new Report: Step 3</h1>
</div><!-- /header -->

<div data-role="content" id="newContent"> 
	<form>
		<p>
			<label for="description">Enter Description</label>		
			<input type="text" id="description">
		</p>
		<p>
			<label for="latitude">Enter Latitude</label>
			<input type="text" name="" id="latitude">
		</p>
		<p>
			<label for="longitude">Enter Longitude</label>
			<input type="text" name="" id="longitude">
		</p>
	</form>	
	<a href="#" data-role="button" class="gotoStep2">Go Back</a>
	<a href='#' data-role="button" class='saveReport'>Save</a>
</div><!-- /content -->
<div data-role="footer">
	<h4>Page Footer</h4>
</div><!-- /footer -->