<div data-role="header" data-theme="c">
    <h1>
        Post a new Report: Step 2
    </h1>
</div>

<!-- /header -->
<div data-role="content" id="newContent">
    <a href='#' data-role="button" class="selectImage">Attach an Image</a>
    <div id="attachment-area">
        <img id="attachment-img" src="http://images2.fanpop.com/images/photos/4100000/Love-wallpaper-love-4187609-1920-1200.jpg"
        />
    </div>
    <a href="#" data-role="button" class="gotoStep1">Go Back</a>
    <a href="#" data-role="button" data-theme="c" class="gotoStep3">Next</a>
</div>
<!-- /content -->