<div data-role="header">
	<h1>Post a new Report: Step 2</h1>
</div><!-- /header -->

<div data-role="content" id="newContent"> 
	<a href='#' data-role="button" class="selectImage" >Attach an Image</a>
	<div id="attachment-area">
		<img id="attachment-img" src="http://lorempixel.com/500/400" width="500px"/>
	</div>

	<a href="#" data-role="button" class="gotoStep1">Go Back</a>
	<a href="#" data-role="button" data-theme="b" class="gotoStep3">Next</a>
</div><!-- /content -->

<div data-role="footer">
	<h4>Page Footer</h4>
</div><!-- /footer -->